h2 {
    background-color: yellowgreen;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.image .img1 {
    width: 400px;
}
.image .img2 {
    width: 400px;
}
.image .img3 {
    width: 400px;
}